{
  "extends": "airbnb/base",
  "rules": {
    "linebreak-style": "off",
    "func-names": ["error", "never"]
  }, 
  "globals": {
    "describe": true,
    "expect": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true
  }
}
